<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta burger_name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/burgers.js"></script>
 
</head>

<body style="background-color:powderblue;">
    {{{ body }}}
</body>

</html>